<div class="pure-g">
  <div class="pure-u-1-1 u-centerText">
    <h1>NoPo List</h1>
  </div>
</div>

<div class="pure-g">
  <div class="pure-u-1-1 l-box">
    <div class="pure-form pure-form-stacked">
      <div *ngFor="let item of items | async"
        class="NoPo-ItemContainer u-padTopBottom-1">
        <div class="NoPo-Item">
          <label class="pure-checkbox u-grow-2 pure-u-1">
            <span>
              <input [disabled]="item.quantity === item.purchased"
                type="checkbox"
                (change)="toggleItemComplete({label: item.label, id: item.id, timestamp: item.timestamp, purchased: item.purchased+1})"
                [checked]="item.quantity === item.purchased">
              <span [ngClass]="{'is-done': item.quantity === item.purchased}">{{item.label}}</span>
            </span>
          </label>
          <button (click)="toggleItemComplete({label: item.label, id: item.id, timestamp: item.timestamp, purchased: item.purchased-1})"
            [hidden]="item.purchased === 0"
            class="pure-button u-shrink-3 u-flexFloatRight u-marginRight-1">
              <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M12.5 8c-2.65 0-5.05.99-6.9 2.6L2 7v9h9l-3.62-3.62c1.39-1.16 3.16-1.88 5.12-1.88 3.54 0 6.55 2.31 7.6 5.5l2.37-.78C21.08 11.03 17.15 8 12.5 8z"/>
            </svg>
          </button>
          <button (click)=deleteItem(item)
            type="button" class="pure-button u-shrink-3">
            <svg
              class="NoPo-Item-delete" fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0V0z" fill="none"/>
              <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12 1.41 1.41L13.41 14l2.12 2.12-1.41 1.41L12 15.41l-2.12 2.12-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z"/>
              <path d="M0 0h24v24H0z" fill="none"/>
            </svg>
          </button>
        </div>
        <span *ngIf="item.quantity > 1"
          class="u-shrink-1">
          {{item.quantity - item.purchased}} Needed <span *ngIf="item.purchased > 0">• {{item.purchased}} Purchased</span>
        </span>
      </div>
    </div>
  </div>

  <div class="pure-u-1-1 l-box">
    <form class="pure-form pure-form-stacked">
      <input
        [(ngModel)]="newItem.name"
        [ngModelOptions]="{standalone: true}"
        class="pure-input-1"
        type="text"
        placeholder="New item...">
      <div class="pure-control-group">
          <label for="itemQuantity">Quantity</label>
          <input
            id="itemQuantity"
            class="u-floatLeft"
            [(ngModel)]="newItem.quantity"
            [ngModelOptions]="{standalone: true}"
            type="number"
            placeholder="Optional">
      </div>
      <button (click)="submitNewItem()" type="submit" class="pure-button pure-button-primary u-noMargin u-floatRight">Add Item</button>
    </form>
  </div>
</div>
