<div class="pure-g">
  <div class="pure-u-1-1 u-centerText">
    <h1>NoPo List</h1>
  </div>
</div>

<div class="pure-g">
  <div class="pure-u-1-1 l-box">
    <div class="pure-form pure-form-stacked">
      <label *ngFor="let item of items | async"
        class="pure-checkbox u-grow-2 u-padTopBottom-1 NoPo-Item">
        <input
          type="checkbox"
          (change)="toggleItemComplete({done: !item.done, label: item.label, id: item.id})"
          [checked]="item.done">
        <span class="is-{{item.done}}">{{item.label}}</span>
      </label>
    </div>
  </div>

  <div class="pure-u-1-1 l-box">
    <form class="pure-form">
      <input
        [(ngModel)]="newItem"
        [ngModelOptions]="{standalone: true}"
        class="pure-input-1"
        type="text"
        placeholder="New item...">

      <button (click)="submitNewItem()" type="submit" class="pure-button pure-button-primary u-floatRight">Add Item</button>
    </form>
  </div>
</div>
