<div class="pure-g">
  <div class="pure-u-1-1 u-centerText">
    <h1>NoPo List</h1>
  </div>
</div>

<div class="pure-g">
  <div class="pure-u-1-1 l-box">
    <div class="pure-form pure-form-stacked">
      <label *ngFor="let item of items | async"
        class="pure-checkbox u-grow-2 u-padTopBottom-1 NoPo-Item">
        <input
          type="checkbox"
          (change)="toggleItemComplete({done: !item.done, label: item.label, id: item.id, timestamp: item.timestamp})"
          [checked]="item.done">
        <span class="is-{{item.done}}">{{item.label}}</span>
        <svg
          (click)=deleteItem(item)
          class="NoPo-Item-delete" fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0h24v24H0V0z" fill="none"/>
          <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12 1.41 1.41L13.41 14l2.12 2.12-1.41 1.41L12 15.41l-2.12 2.12-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z"/>
          <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
      </label>
    </div>
  </div>

  <div class="pure-u-1-1 l-box">
    <form class="pure-form">
      <input
        [(ngModel)]="newItem"
        [ngModelOptions]="{standalone: true}"
        class="pure-input-1"
        type="text"
        placeholder="New item...">

      <button (click)="submitNewItem()" type="submit" class="pure-button pure-button-primary u-floatRight">Add Item</button>
    </form>
  </div>
</div>
